// Blocks SCSS variables
@import './variables';

// MDBook variables
@import '../book/css/variables.css';
@import '../book/css/general.css';

// Bootstrap
@import '../bootstrap/scss/bootstrap.css';

/* Blocks CSS styling to override Bootstrap CSS styling
and maintain MDBook themes */

// Maintain all MDBook CSS

*:focus {
    outline: 0 !important;
    box-shadow: none;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

html {
    font-family: $global-font-family;
    color: $foreground-colour;
    background-color: $background-colour;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

body {
    background-color: $background-colour;
    color: $foreground-colour;
    font-size: $global-font-size;
    font-family: $global-font-family;
    overflow-x: hidden;
}

code {
    font-family: $code-font-family;
    font-size: $code-font-size;
    word-break: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* Change the default colour of all links */
#searchresults a,
.content a:link,
a:visited,
a > .hljs {
    color: var(--links);
    text-decoration: none;
}

// Links

// Tables
table {
	width: 100%;
}

// Block quotes

/* Customize Bootstrap CSS to inherit MDBook CSS */

// Button
.btn {
    font-size: $global-font-size;
    background-color: var(--table-header-bg);
    color: var(--fg);
    border: none;
    text-decoration: none;
}

.btn:hover {
    font-size: $global-font-size;
    background-color: var(--table-header-bg);
    color: var(--table-border-color);
    border: none;
    text-decoration: none;    
}

.btn:focus, .btn.focus {
    box-shadow: none;
}

.btn-primary {
    color: var(--fg);
    background-color: var(--table-header-bg);
    border: none;
    text-decoration: none;
}

.btn-primary:hover {
    color: var(--table-border-color);
    background-color: var(--table-header-bg);
    border: none;
    text-decoration: none;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem var(--fg);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: var(--fg);
    background-color: var(--table-header-bg);
    border-color: var(--fg);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: var(--fg);
    background-color: var(--table-header-bg);
    border-color: var(--fg);
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem var(--fg);
}

// Card
.card {
    background-color: $sidebar-background;
    color: $sidebar-foreground;
    border: none;
}

.card-title {
    font-size: 1.75rem;
    font-weight: 600;
}

// Badge
.badge {
    font-weight: 600;
}

.badge-primary {
    color: white;
    background-color: var(--table-header-bg);
}

// Alert
.alert {
    border: 2px solid;
}

.alert-primary {
    color: var(--fg);
    background-color: var(--table-header-bg);
    border-color: var(--searchresults-header-fg);
}