// Global styling
$sidebar-width: var(--sidebar-width);
$page-padding: var(--page-padding);
$content-max-width: var(--content-max-width);
$menu-bar-height: var(--menu-bar-height);

// Colours
$background-colour: var(--bg);
$foreground-colour: var(--fg);

$opacity: 50%;

$sidebar-background: var(--sidebar-bg);
$sidebar-foreground: var(--sidebar-fg);
$sidebar-active-chapter: var(--sidebar-active);
$sidebar-spacer: var(--sidebar-spacer);

$scrollbar: var(--scrollbar);

$icons: var(--icons);
$icons-hover: var(--icons-hover);

$links: var(--links);

$inline-code-colour: var(--inline-code-color);

$theme-popup-background: var(--theme-popup-bg);
$theme-popup-border: var(--theme-popup-border);
$theme-hover: var(--theme-hover);

$quote-background: var(--quote-bg);
$quote-border: var(--quote-border);

$table-border-colour: var(--table-border-color);
$table-header-background: var(--table-header-bg);
$table-alternate-background: var(--table-alternate-bg);

$searchbar-border-colour: var(--searchbar-border-color);
$searchbar-background: var(--searchbar-bg);
$searchbar-foreground: var(--searchbar-fg);
$searchbar-shadow-colour: var(--searchbar-shadow-color);
$search-results-head-foreground: var(--searchresults-header-fg);
$search-results-border-colour: var(--searchresults-border-color);
$search-results-li-background: var(--searchresults-li-bg);
$search-mark-background: var(--search-mark-bg);

// Fonts
$global-font-family: "Open Sans", sans-serif;
$global-font-size: 1.6rem;
$code-font-family: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace;
$code-font-size: 0.875em;